h2 {
  color:DarkSlateBlue;
}
canvas {
  width:250pt;
  height:200pt;
  border:2px solid teal;
}
.btns {
  padding:5pt;
  font-family:exo;
  font-size:12pt;
  background:Gainsboro;
}
html {
  font-family:exo;
  text-align: center;
}